.slider::-webkit-slider-thumb , .slider::-moz-range-thumb , .slider::-ms-thumb {
    background-color: #4A90E2;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border: none;
}

.slider::-webkit-slider-runnable-track  {
    background-color: #E5E7EB;
    height: 4px;
    border-radius: 4px;
}
