@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --bg-main-color : #f5f9f9
}

*{
    font-family: "Cairo", sans-serif;
    transition: 200ms;
}

body{
    background-color: var(--bg-main-color);
}

a{
    cursor: pointer;
    user-select: none;
}

input:focus , select:focus{
    outline: none;
}

@layer components{
    .custom-container {
        @apply max-w-[1170px] mx-auto px-4
    }

    .custom-border {
        @apply border-[1px] border-gray-200
    }

    .custom-dimming {
        @apply fixed top-0 left-0 w-full h-full bg-[#000000b3]/70 z-10
    }

    .custom-side-menu{
        @apply absolute bg-white top-0  h-full sm:w-[340px] w-full flex flex-col
    }

    .custom-text-truncate {
        @apply whitespace-nowrap text-ellipsis overflow-hidden
    }

    .custom-img-cover {
        @apply w-full h-full object-contain
    }

    .custom-products-grid{
        @apply custom-container grid lg:grid-cols-4 sm:grid-cols-3 grid-cols-2 gap-4
    }

    /* custom input style */
    .custom-inputcontainer{
        @apply flex flex-col items-start w-full gap-1 
    }
    .custom-inputcontainer label{
        @apply text-sm font-light
    }
    .custom-inputcontainer input , .custom-inputcontainer textarea{
        @apply custom-border  bg-transparent w-full h-full px-4 py-2  text-sm bg-mainbg
    }
    .custom-inputcontainer p{
        @apply text-xs text-red-500
    }

    /* custom input 2 style  */
    .custom-inputcontainer2{
        @apply flex flex-col items-start w-full gap-2
    }
    .custom-inputcontainer2 label {
        @apply text-xs text-gray-500
    }
    .custom-inputcontainer2 input , .custom-inputcontainer2 textarea{
        @apply w-full bg-secondarybg custom-border text-xs text-gray-500 px-4 py-2 focus:border-gray-300
    }
    .custom-inputcontainer2 p{
        @apply text-xs text-red-500
    }

    .custom-button {
        @apply custom-border px-4  hover:bg-maincolor hover:text-secondarybg disabled:bg-gray-300 disabled:cursor-not-allowed disabled:text-secondarybg py-2 text-sm font-semibold
    }

    .custom-button2 {
        @apply custom-border px-4  hover:bg-black/70 disabled:bg-black/70 text-white bg-black py-2 text-sm font-semibold
    }   

    .custom-accountcontainer{
        @apply custom-container grid lg:grid-cols-4 gap-8
    }

    .custom-productsection{
        @apply bg-secondarybg p-8 rounded-xl shadow-xl my-6
    }

    .custom-dashcontainer{
        @apply bg-secondarybg custom-border py-8 px-6 rounded-xl shadow  w-full overflow-hidden mb-8
    }
    .custom-dashcontainer .title {
        @apply text-sm font-bold text-gray-500 mb-8 w-full
    }

    /* custom dash container title with adding button  */
    .custom-dashcontainer .title_container {
        @apply flex justify-between items-center flex-wrap gap-4 mb-8
    }
    .custom-dashcontainer .title_container p {
        @apply text-sm font-bold text-gray-500  
    }
    .custom-dashcontainer .title_container a {
        @apply custom-border px-4  hover:bg-black/70 disabled:bg-black/70 text-white bg-black py-1 text-xs font-semibold flex items-center 
    }

    /* table styling */
    .custom-table {
        @apply relative max-w-full w-fit custom-border border-l-0 border-b-0 mx-auto my-10 overflow-x-auto
    }
    .custom-table .custom-tablerow {
        @apply  flex w-max
    }
    .custom-table .custom-tablerow p {
        @apply px-2 custom-border border-r-0 border-t-0 text-start text-sm flex items-center min-h-10 min-w-10
    }
    .custom-table .custom-tablerow img {
        @apply h-12
    }
    .custom-table .custom-tablehead {
        @apply sticky top-0 right-0 bg-secondarybg
    }

    .custom-table .custom-tablehead p {
        @apply justify-center text-center 
    }
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined{
    user-select: none;
}
.material-symbols-outlined:hover{
    cursor: pointer;
}


/* scroll bar styling */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hides the scrollbar for WebKit browsers (Chrome, Safari) */
}
  
.hide-scrollbar {
  -ms-overflow-style: none;  /* Hides scrollbar for Internet Explorer and Edge */
  scrollbar-width: none;     /* Hides scrollbar for Firefox */
}