@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --bg-main-color : #f5f9f9;
    --maincolor : #e81c3f ;
    --secondarybg : #fff ;
    --mainbg : #f5f9f9 ;
    --secondarycolor : #34b36b
}

*{
    font-family: "Cairo", sans-serif;
    transition: 200ms;
}

body{
    background-color: var(--bg-main-color);
}

a{
    cursor: pointer;
    user-select: none;
}

input:focus{
    outline: none;
}

@layer components{
    .custom-container {
        @apply max-w-[1170px] mx-auto px-4
    }

    .custom-border {
        @apply border-[1px] border-gray-200
    }

    .custom-dimming {
        @apply fixed top-0 left-0 w-full h-full bg-[#000000b3]/70 z-10
    }

    .custom-side-menu{
        @apply absolute bg-white top-0  h-full sm:w-[340px] w-full flex flex-col
    }

    .custom-text-truncate {
        @apply whitespace-nowrap text-ellipsis overflow-hidden
    }

    .custom-img-cover {
        @apply w-full h-full object-cover
    }

    .custom-products-grid{
        @apply custom-container grid lg:grid-cols-4 sm:grid-cols-3 grid-cols-2 gap-4
    }

    /* Auth form  */
    .custom-auth-form{
        @apply w-full lg:w-96
    }

    /* custom input style */
    .custom-inputcontainer{
        @apply flex flex-col gap-1
    }
    .custom-inputcontainer label{
        @apply text-xs text-gray-700
    }
    .custom-inputcontainer input{
        @apply custom-border text-sm p-2
    }
    .custom-inputcontainer p{
        @apply text-xs text-red-500
    }

    /* custom input 2 style  */
    .custom-inputcontainer2{
        @apply flex flex-col items-start w-full
    }
    .custom-inputcontainer2 label {
        @apply text-xs text-gray-500
    }
    .custom-inputcontainer2 input , .custom-inputcontainer2 textarea{
        @apply w-full bg-secondarybg custom-border text-xs text-gray-500 px-4 py-2 focus:border-gray-300
    }

    .custom-button {
        @apply py-2 px-4 rounded-full custom-border text-sm text-center
    }

    .custom-button2 {
        @apply py-2 px-4 custom-border text-sm text-center bg-black hover:bg-black/70 disabled:bg-black/70 text-white
    }


    .custom-accountcontainer{
        @apply custom-container grid lg:grid-cols-4 gap-8
    }

    .custom-productsection{
        @apply bg-secondarybg p-8 rounded-xl shadow-xl my-6
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined{
    user-select: none;
}


/* scroll bar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
  background: var(--secondarybg);
}
::-webkit-scrollbar-thumb {
    background: var(--maincolor);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--maincolor);
}